<menu class="social-media-share">
    <a href="https://www.facebook.com/ngdelcastillo" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="https://twitter.com/ngdelcastillo" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="https://www.linkedin.com/in/leondcastle" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="https://github.com/ngdelcastillo" class="icon-github" rel="external" title="My GitHub"></a>
    <a href="mailto:noel@pragtechnologies.com" class="icon-mail" rel="external" title="My Mail"></a>
    <a href="#" class="icon-feed" rel="external" title="My RSS Feed"></a>
</menu>
